.login_container{
    /* background-image: url('https://img.freepik.com/free-vector/wave-green-gradient-modern-background-design-abstract_343694-2424.jpg');
    width:100%;
    height: 400px;
    margin-top: 100px;
    padding: 20px; */
}