@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 0.5rem;
}
/* text-swift
text-second */
@layer utilities {
  .text-swift {
    /* color: #0e7490; */
  }

  .text-second{
    @apply text-gray-700;
  }
}

.background {
  background-image: url("./assets/Register/light_submit_2-[Converted].png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes upDownLeftRightAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }

  25% {
    transform: translateY(-10px) translateX(0);
  }

  /* Moves Up */
  50% {
    transform: translateY(10px) translateX(0);
  }

  /* Moves Down */
  75% {
    transform: translateY(0) translateX(-10px);
  }

  /* Moves Left */
  100% {
    transform: translateY(0) translateX(10px);
  }

  /* Moves Right */
}

.style {
  animation: upDownLeftRightAnimation 5s infinite;
}

.bg-image {
  background-image: url("https://i.ibb.co/6Yh2jHb/user-2.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* background-size: contain; */
  /* background-attachment: fixed; */
}

body{
  @apply bg-[#fffafa]
}