@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 0.5rem;
}
/* text-swift
text-second */
@layer utilities {
  .active-link {
    border-bottom: 3px solid rgba(17, 229, 155, 0.752);
    color: rgb(8, 61, 74);
    font-weight: 600;
    transition: border-color 0.3s ease;
    border-radius: 2px;
    align-items: center;
  }
  @media (max-width: 767px) {
    .active-link {
      border-bottom: 2px solid red;
      /* border-right: 100px; */
      color: coral;
      font-weight: 600;
    }
  }
  

  .text-second{
    @apply text-gray-700;
  }
  .text-swift{
    @apply  text-[#00756A];
  }
}

.background {
  background-image: url("./assets/Register/light_submit_2-[Converted].png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes upDownLeftRightAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }

  25% {
    transform: translateY(-10px) translateX(0);
  }

  /* Moves Up */
  50% {
    transform: translateY(10px) translateX(0);
  }

  /* Moves Down */
  75% {
    transform: translateY(0) translateX(-10px);
  }

  /* Moves Left */
  100% {
    transform: translateY(0) translateX(10px);
  }

  /* Moves Right */
}

.style {
  animation: upDownLeftRightAnimation 5s infinite;
}

.bg-image {
  background-image: url("https://i.ibb.co/6Yh2jHb/user-2.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* background-size: contain; */
  /* background-attachment: fixed; */
}

/* body{
  @apply bg-[#fffafa]
} */


.custom-shape-divider-bottom-1694422255 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1694422255 svg {
  position: relative;
  display: block;
  width: calc(189% + 1.3px);
  height: 228px;
}

.custom-shape-divider-bottom-1694422255 .shape-fill {
  fill: #FFFFFF;
}

.emailModal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(5, 16, 55, 0.2);
  opacity: 1;
  border-radius: 7px;
  transform: translate(-50%, -60%);
}

/* Global Styles for Dark Theme */
.dark-theme {
  background-color: #1a202c; /* Dark background color */
  color: #ffffff; /* White text color */
}

