@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --rounded-btn: 0.5rem;
}
/* text-swift
text-second */
@layer utilities {
  .active-link {
    border-bottom: 2px solid rgb(91, 195, 16);
    color: rgb(8, 61, 74);
    font-weight: 600;
  }
  @media (max-width: 767px) {
    .active-link {
      border-bottom: 2px solid red;
      /* border-right: 100px; */
      color: coral;
      font-weight: 600;
    }
  }
  

  .text-second{
    @apply text-gray-700;
  }
  .text-swift{
    @apply  text-[#00756A];
  }
}

.background {
  background-image: url("./assets/Register/light_submit_2-[Converted].png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes upDownLeftRightAnimation {
  0% {
    transform: translateY(0) translateX(0);
  }

  25% {
    transform: translateY(-10px) translateX(0);
  }

  /* Moves Up */
  50% {
    transform: translateY(10px) translateX(0);
  }

  /* Moves Down */
  75% {
    transform: translateY(0) translateX(-10px);
  }

  /* Moves Left */
  100% {
    transform: translateY(0) translateX(10px);
  }

  /* Moves Right */
}

.style {
  animation: upDownLeftRightAnimation 5s infinite;
}

.bg-image {
  background-image: url("https://i.ibb.co/6Yh2jHb/user-2.png");
  background-size: cover;
  background-repeat: no-repeat;

  /* background-size: contain; */
  /* background-attachment: fixed; */
}

body{
  @apply bg-[#fffafa]
}