.forgotPasswordBG {
    background-image: url('https://img.freepik.com/premium-vector/user-forgot-password-computer-screen_64478-974.jpg?w=900');
    background-size: cover;
    background-position: center;
    
}